<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.air_condition.dao.Role_LimitMapper" >
  <resultMap id="BaseResultMap" type="com.air_condition.domain.Role_Limit" >
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="limitid" property="limitid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.air_condition.domain.Role_Limit" >
    insert into role_limit (roleid, limitid)
    values (#{roleid,jdbcType=INTEGER}, #{limitid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.air_condition.domain.Role_Limit" >
    insert into role_limit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="limitid != null" >
        limitid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="limitid != null" >
        #{limitid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <delete id="delRoleLimitByRoleId" parameterType="int">
  	 delete from role_limit where roleid=#{0}
  </delete>
  
  
  
</mapper>