<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.air_condition.dao.RoomMapper">
	<resultMap id="BaseResultMap" type="com.air_condition.domain.Room">
		<id column="room_num" property="roomNum" jdbcType="INTEGER" />
		<result column="temp" property="temp" jdbcType="VARCHAR" />
		<result column="humidity" property="humidity" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="air_speed" property="airSpeed" jdbcType="DOUBLE" />
		<result column="state" property="state" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		room_num, temp, humidity, type, air_speed, state
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from room
		where room_num = #{roomNum,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from room
		where room_num = #{roomNum,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.air_condition.domain.Room">
		insert into room (room_num, temp, humidity,
		type, air_speed, state
		)
		values (#{roomNum,jdbcType=INTEGER}, #{temp,jdbcType=VARCHAR},
		#{humidity,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR}, #{airSpeed,jdbcType=DOUBLE}, #{state,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.air_condition.domain.Room">
		insert into room
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roomNum != null">
				room_num,
			</if>
			<if test="temp != null">
				temp,
			</if>
			<if test="humidity != null">
				humidity,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="airSpeed != null">
				air_speed,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roomNum != null">
				#{roomNum,jdbcType=INTEGER},
			</if>
			<if test="temp != null">
				#{temp,jdbcType=VARCHAR},
			</if>
			<if test="humidity != null">
				#{humidity,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="airSpeed != null">
				#{airSpeed,jdbcType=DOUBLE},
			</if>
			<if test="state != null">
				#{state,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.air_condition.domain.Room">
		update room
		<set>
			<if test="temp != null">
				temp = #{temp,jdbcType=VARCHAR},
			</if>
			<if test="humidity != null">
				humidity = #{humidity,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="airSpeed != null">
				air_speed = #{airSpeed,jdbcType=DOUBLE},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
		</set>
		where room_num = #{roomNum,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.air_condition.domain.Room">
		update room
		set temp = #{temp,jdbcType=VARCHAR},
		humidity = #{humidity,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		air_speed = #{airSpeed,jdbcType=DOUBLE},
		state = #{state,jdbcType=INTEGER}
		where room_num = #{roomNum,jdbcType=INTEGER}
	</update>

	<select id="getAllRooms" resultType="java.util.Map">
		select * from room
	</select>
	<select id="getGetRoomInfoById" resultType="java.util.Map">
		select * from room where room_num=#{0}
	</select>
</mapper>